/* Home Page */
.dark-bg {
    background-color: #160129;
}

.sticky-body {
    position: sticky;
    overflow: hidden;
}

.home-card {
    border-radius: 6px;
    height: 40vh;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-card-link {
    text-decoration: none;
}

.home-card-text {
    margin-top: 6em;
    font-size: 1.75em;
}

.home-card-bg {
    background-position: center 20%;
    background-repeat: no-repeat;
}

.brightness-card {
    background-color: #c9f9f3b8;
    background-image: url("../images/svg/brightness.svg");
    color: #ffffff;
}

.gpio-card {
    background-color: #e5a1da;
    background-image: url("../images/svg/gpio.svg");
    color: #a8fbf8e8;
}

.serial-card {
    background-color: #a1a1e5;
    background-image: url("../images/svg/serial.svg");
    color: #ffdd17;
}

.buzzer-card {
    background-color: #cc2c85;
    background-image: url("../images/svg/buzzer.svg");
    color: #f4fefa;
}

.music-card {
    background-color: #cc2c85;
    background-image: url("../images/svg/music.svg"), linear-gradient(39deg, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
    color: #ffffff;
}

.serial-485-card {
    background-color: #cfd3d5b8;
    background-image: url("../images/svg/serial-485.svg"), linear-gradient(45deg, rgba(043, 250, 121, 0.4906163148853291) 0%, rgba(230, 222, 59, 1) 100%);
    color: #ffffff;
}


/* Brightness */
.brightness-text {
    position: absolute;
    left: 10vw;
    top: 0vh;
}

.brightness-desc {
    background: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.8155462868741247) 0%, rgba(252, 255, 231, 1) 46%, rgba(255, 255, 255, 0.5242297602634804) 100%);
    -webkit-background-clip: text;
    font-size: 8em;
    -webkit-text-fill-color: transparent;
}

.brightness-value {
    background: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.8155462868741247) 0%, rgba(252, 255, 231, 1) 46%, rgba(255, 255, 255, 0.5242297602634804) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 15rem;
    line-height: 15rem;
}

.brightness-slider-position {
    position: absolute;
    left: 55vw;
    top: 40vh;
}

.brightness-slider {
    transform: rotate(270deg);
    -webkit-appearance: none;
    overflow: hidden;
    height: 12vw;
    width: 80vh;
    cursor: pointer;
    border-radius: 1em;
}

::-webkit-slider-runnable-track {
    background: linear-gradient(0deg, rgba(45, 45, 45, 1) 0%, rgba(42, 42, 42, 1) 100%);
    border-radius: 0.1em;
}

::-webkit-slider-thumb {
    -webkit-appearance: none;
    border-radius: 1em;
    width: 0px;
    height: 12vw;
    background: #fff;
    box-shadow: -41vh 0 2em 41vh #fff, inset 0 0 0 0px #fff;
    transition: box-shadow 0.2s ease-in-out;
}
