.dark-bg {
    background-color: #160129;
}

.sticky-body {
    position: sticky;
    overflow: hidden;
}

/* Home Page */
.home-card {
    border-radius: 6px;
    height: 40vh;
    width: 27.5vw;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-card-link {
    text-decoration: none;
}

.home-card-text {
    margin-top: calc(20vh + 10%);
    font-size: 2.25em;
    white-space: nowrap;
}

.home-card-bg {
    background-position: center 20%;
    background-repeat: no-repeat;
}

.brightness-card {
    background-color: #c9f9f3b8;
    background-image: url("../images/svg/home/brightness.svg");
    color: #ffffff;
}

.gpio-card {
    background-color: #e5a1da;
    background-image: url("../images/svg/home/gpio.svg");
    color: #ffffff;
}

.serial-card {
    background-color: #a1a1e5;
    background-image: url("../images/svg/home/serial.svg");
    color: #ffffff;
}

.buzzer-card {
    background-color: #cc2c85;
    background-image: url("../images/svg/home/buzzer.svg");
    color: #f4fefa;
}

.can-bus-card {
    background-color: #cc2c85;
    background-image: url("../images/svg/home/can_bus.svg"), linear-gradient(39deg, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
    color: #ffffff;
}

.serial-485-card {
    background-color: #cfd3d5b8;
    background-image: url("../images/svg/home/serial-485.svg"), linear-gradient(45deg, rgba(043, 250, 121, 0.4906163148853291) 0%, rgba(230, 222, 59, 1) 100%);
    color: #ffffff;
}

.arrow-right {
  border: solid white;
  border-width: 0 0.75em 0.75em 0;
  display: inline-block;
  padding: 0.75em;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  margin-right: 1.5em;
}

.arrow-left {
  border: solid white;
  border-width: 0 0.75em 0.75em 0;
  display: inline-block;
  padding: 0.75em;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  margin-left: 1.5em;
}

/* Cases  */
.ip-config-card {
    background-color: rgba(151,238,109, 76%) ;
    background-image: url("../images/svg/cases/ip_config.svg");
    color: #ffffff;
}

.file-upload-card {
    background-color: #1780ab;
    background-image: url("../images/svg/cases/file_upload.svg");
    color: #ffffff;
}

.modbus-card {
    background-color: #ffb11e;
    background-image: url("../images/svg/cases/modbus.svg");
    color: #ffffff;
}

.more-card {
    background-color: #3b65edbc;
    background-image: url("../images/svg/cases/more.svg"), linear-gradient(45deg, rgba(104,195,23,0.8491597322522759) 13%, rgba(90,105,187,1) 83%);
    color: #ffffff;
}


/* Diagrams */
.line-chart-card {
    background-color: rgba(62,213,219,0.84);
    background-image: url("../images/svg/diagrams/line_chart.svg");
    color: #ffffff;
}

.charts-card {
    background-color: #835abb;
    background-image: url("../images/svg/diagrams/charts.svg");
    color: #ffffff;
}

.sine-wave-card {
    background-color: #f4200d;
    background-image: url("../images/svg/diagrams/sine_wave.svg");
    color: #ffffff;
}
/* Buzzer */
.buzzer-btn {
    display: block;
    background-color: #f7f7f7;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e7e7e7));
    background-image: -webkit-linear-gradient(top, #f7f7f7, #e7e7e7);
    background-image: -moz-linear-gradient(top, #f7f7f7, #e7e7e7);
    background-image: -ms-linear-gradient(top, #f7f7f7, #e7e7e7);
    background-image: -o-linear-gradient(top, #f7f7f7, #e7e7e7);
    color: #a7a7a7;
    margin: 36px;
    width: 144px;
    height: 144px;
    position: relative;
    text-align: center;
    line-height: 144px;
    border-radius: 50%;
    box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
    transition: all ease 0.3s;
}
.buzzer-btn:hover {
    text-decoration: none;
    color: #555;
    background: #f5f5f5;
}
.buzzer-btn:before {
    content: "";
    display: block;
    background: #fff;
    border-top: 2px solid #ddd;
    position: absolute;
    top: -18px;
    left: -18px;
    bottom: -18px;
    right: -18px;
    z-index: -1;
    border-radius: 50%;
    box-shadow: inset 0px 8px 48px #ddd;
}

.buzzer-btn:hover:active {
    content: "";
    display: block;
    background: #fff;
    border-top: 2px solid #ddd;
    border-radius: 50%;
    box-shadow: inset 0px 8px 48px #ddd;
}

.buzzer-desc {
    background: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.8155462868741247) 0%, rgba(252, 255, 231, 1) 46%, rgba(255, 255, 255, 0.5242297602634804) 100%);
    -webkit-background-clip: text;
    font-size: 4em;
    -webkit-text-fill-color: transparent;
}
/* Brightness */
.brightness-text {
    position: absolute;
    left: 10vw;
    top: 0vh;
}

.brightness-desc {
    background: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.8155462868741247) 0%, rgba(252, 255, 231, 1) 46%, rgba(255, 255, 255, 0.5242297602634804) 100%);
    -webkit-background-clip: text;
    font-size: 8em;
    -webkit-text-fill-color: transparent;
}

.brightness-value {
    background: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.8155462868741247) 0%, rgba(252, 255, 231, 1) 46%, rgba(255, 255, 255, 0.5242297602634804) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 15rem;
    line-height: 15rem;
}

.brightness-slider-position {
    position: absolute;
    left: 55vw;
    top: 36vh;
}

.brightness-slider-position-line-chart {
    position: absolute;
    left: -24vh;
    bottom: 44vh;
}

.brightness-slider {
    transform: rotate(270deg);
    -webkit-appearance: none;
    overflow: hidden;
    height: 12vw;
    width: 80vh;
    cursor: pointer;
    border-radius: 1em;
}

::-webkit-slider-runnable-track {
    background: linear-gradient(0deg, rgba(45, 45, 45, 1) 0%, rgba(42, 42, 42, 1) 100%);
    border-radius: 0.1em;
}

::-webkit-slider-thumb {
    -webkit-appearance: none;
    border-radius: 1em;
    width: 0px;
    height: 12vw;
    background: #fff;
    box-shadow: -41vh 0 2em 41vh #fff, inset 0 0 0 0px #fff;
    transition: box-shadow 0.2s ease-in-out;
}

/* Serial Port */
.log {
    overflow-y: scroll;
    overflow-x: hidden;
    height: calc(100vh - 13.5em);
    padding: 1em;
    margin-top: 1em;
}

/* CAN Bus */
.can-log {
    overflow-y: scroll;
    overflow-x: hidden;
    height: calc(100vh - 20.5rem);
    padding: 1em;
    margin-top: 1em;
}

/* GPIO */
input.gpio-out[type=checkbox]:checked + label {
    background: url("../images/svg/gpio/button-checked.svg") no-repeat;
    height: 125px;
    width: 125px;
    background-size: 100%;
    transition: background-image 0.2s ease-in-out;
}

input.gpio-out[type=checkbox] + label {
    background: url("../images/svg/gpio/button-closed.svg") no-repeat;
    height: 125px;
    width: 125px;
    background-size: 100%;
    transition: background-image 0.2s ease-in-out;
}

input.gpio-in[type=checkbox]:checked + label {
    background: url("../images/svg/gpio/button-checked.svg") no-repeat;
    height: 125px;
    width: 125px;
    background-size: 100%;
    transition: background-image 0.2s ease-in-out;
}

input.gpio-in[type=checkbox] + label {
    background: url("../images/svg/gpio/button-closed.svg") no-repeat;
    height: 125px;
    width: 125px;
    background-size: 100%;
    transition: background-image 0.2s ease-in-out;
}
