<!doctype html>
<html>
<head>
    <title>Brightness | Chipsee Industrial PC Demo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body class="dark-bg sticky-body">
    <div class="container position-relative">
        <p>
            <a href="{{ url_for('home') }}">Home</a>
        </p>
        <div class="brightness-text d-flex flex-column vh-100 align-items-center justify-content-center">
            <p class="brightness-desc">Brightness</p>
            <p class="brightness-value">{{ actual_brightness }}</p>
        </div>
        <input type="range" class="brightness-slider brightness-slider-position" id="brightness" name="brightness" min="0" max="100" value="{{ actual_brightness }}" step="1">
    </div>
</body>

</html>
<script>
const brightnessElement = document.querySelector('#brightness');

brightnessElement.addEventListener('input', (event) => {
    const curr_brightness = document.querySelectorAll('.brightness-value');
    const xhr = new XMLHttpRequest();
    xhr.open("POST", '{{ url_for('api_brightness') }}', true);
    xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
    xhr.onreadystatechange = () => { // Call a function when the state changes.
        if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
            // Request finished. Do processing here.
        }
    }
    xhr.send(`brightness=${brightnessElement.value}`);
    for(let brightnessValue of curr_brightness) {
        brightnessValue.textContent = `${event.target.value}`;
    }
});
</script>
