<!doctype html>
<html>

<head>
    <title>Buzzer | Chipsee Industrial PC Demo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body class="dark-bg sticky-body">
    {% include "common/navbar.html" %}
    <div class="container">
        <div class="d-flex align-items-center justify-content-center" style="min-height: 90vh;">
            <div>
                <div class="row justify-content-center">
                    <div class="col-auto buzzer-desc">Buzzer</div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-auto form-check form-switch d-flex justify-content-center" style="font-size: 8em">
                        <input class="form-check-input my-2" type="checkbox" role="switch" id="buzzer-switch">
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-auto buzzer-btn" id="buzzer-btn"></div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>

<script>
    document.oncontextmenu = function (event) {
        // When pushing buzzer button, a long press will call out browser context menu(light mouse right click), this will forbid it.
        event.preventDefault();
        event.stopImmediatePropagation();
        return false;
    };
    class BuzzerButton {
        constructor() {
            this.endPoint = "/api/buzzer";
            let btn = document.querySelector("#buzzer-btn")
            btn.addEventListener('touchstart', (e) => {
                this.setBuzzer(1);
            });
            btn.addEventListener('touchend', (e) => {
                this.setBuzzer(0);
            })
        }

        setBuzzer(value) {
            fetch(this.endPoint, {
                method: 'POST', // or 'PUT'
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ 'buzzer': value }),
            })
                .then((response) => response.json())
                .then((data) => {
                    if (data['status'] === 'Success') {
                        console.log('Success:', data);
                    } else {
                        throw (data['msg'])
                    }
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
        }
    }
    class BuzzerSwitch {
        constructor() {
            this.endPoint = "/api/buzzer";
            document.querySelector("#buzzer-switch").onchange = (e) => {
                let checked = e.target.checked;
                if (checked) {
                    this.setBuzzer(1);
                } else {
                    this.setBuzzer(0);
                }
            }
        }

        setBuzzer(value) {
            fetch(this.endPoint, {
                method: 'POST', // or 'PUT'
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ 'buzzer': value }),
            })
                .then((response) => response.json())
                .then((data) => {
                    if (data['status'] === 'Success') {
                        console.log('Success:', data);
                    } else {
                        throw (data['msg'])
                    }
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
        }
    }
    let buzzerSwitch = new BuzzerSwitch()
    let buzzerBtn = new BuzzerButton()
</script>