<!doctype html>
<html>

<head>
    <title>Buzzer | Chipsee Industrial PC Demo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body class="dark-bg sticky-body">
    <div class="container">
        <p>
            <a href="{{ url_for('home') }}">Home</a>
        </p>
        <div class="d-flex align-items-center justify-content-center vh-100">
          <div class="form-check form-switch" style="font-size: 4em">
              <input class="form-check-input" type="checkbox" role="switch" id="buzzerSwitch">
          </div>
        </div>
    </div>
</body>

</html>
<script>
class BuzzerSwitch {
    constructor() {
        this.endPoint = "/api/buzzer";
        document.querySelector("#buzzerSwitch").onchange = (e) => {
          let checked = e.target.checked;
          if (checked) {
            this.setBuzzer(1);
          } else {
            this.setBuzzer(0);
          }
        }
    }

    setBuzzer(value) {
        fetch(this.endPoint, {
          method: 'POST', // or 'PUT'
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({'buzzer': value}),
        })
          .then((response) => response.json())
          .then((data) => {
            if (data['status']==='Success') {
                console.log('Success:', data);
            } else {
                throw(data['msg'])
            }
          })
          .catch((error) => {
            console.error('Error:', error);
          });
    }
}
let buzzer = new BuzzerSwitch()
</script>
