<!doctype html>
<html>

<head>
    <title>CAN Bus | Chipsee Industrial PC Demo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='js/socket.io.js') }}"></script>
</head>

<body class="dark-bg sticky-body">
    {% include "common/navbar.html" %}
    <div class="container">
        {% if not can_up %}
        <form method="post" class="d-flex align-items-center justify-content-center" style="height: 90vh;">
            <div>
                <p class="text-white fw-bold text-center display-5">
                    Warning: Be sure to connect the 120 Ohm resistor before bringing up the CAN device.
                </p>
                <input type="submit" name="bring_up_can_bus_button" value="OK, bring up CAN device"
                    class="btn btn-success w-100 btn-lg fw-bold my-3">
            </div>
        </form>
        {% endif %}
        {% if can_up %}
        <form id="can_bus" class="mt-3">
            <div class="row mb-3">
                <label for="can_bus_arbitration_id"
                    class="text-white col-2 col-form-label col-form-label-lg fw-bold">CAN
                    ID</label>
                <div class="col-10">
                    <input type="text" class="form-control form-control-lg" id="can_bus_arbitration_id"
                        placeholder="CAN Arbitration ID, e.g.: 123" autocomplete="off">
                </div>
            </div>
            <div class="row mb-3">
                <label for="can_bus_text" class="text-white col-2 col-form-label col-form-label-lg fw-bold">CAN
                    DATA</label>
                <div class="col-10">
                    <input type="text" class="form-control form-control-lg" id="can_bus_text"
                        placeholder="CAN Data, eg: 3.1415926" autocomplete="off">
                </div>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-warning w-50 btn-lg">CAN Send</button>
            </div>
        </form>

        <div class="d-flex justify-content-between align-items-center">
            <div class=" text-white fw-bold fs-3">Click to test:</div>
            <span class="btn-group">
                <button class="can_bus_send btn btn-success fw-bold btn-lg">3.1415926</button>
                <button class="can_bus_send btn btn-danger fw-bold btn-lg">TOO.LONG.CANT.SEND</button>
            </span>
            <button class="btn btn-secondary fw-bold btn-lg d-inline" id="clear">Clear All</button>
            <div class="form-check form-switch ms-3 d-flex align-items-center justify-content-between"
                style="font-size: 2em">
                <input class="form-check-input my-2" type="checkbox" role="switch" id="canbus-switch" {{ "checked" if
                    closed==False }}>
                <label class="form-check-label text-white fw-bold fs-5 ms-2" for="canbus-switch">
                    Enable Receiving
                </label>
            </div>
        </div>
        <div id="log" class="can-log"></div>
        {% endif %}
    </div>
</body>

</html>
<script>
    // Initialize websocket.
    let canWebSocket = io({ transports: ['websocket'] });

    // CAN Receive through websocket.
    canWebSocket.on('can_recv', (msg) => {
        log(msg.data, 'success', 'end');
    });

    class CanBusSwitch {
        constructor() {
            this.endPoint = "/api/can_bus";
            document.querySelector("#canbus-switch").onchange = (e) => {
                let checked = e.target.checked;
                if (checked) {
                    this.setCanBus(1);
                } else {
                    this.setCanBus(0);
                }
            }
        }

        setCanBus(value) {
            fetch(this.endPoint, {
                method: 'POST', // or 'PUT'
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ 'status': value }),
            })
                .then((response) => response.json())
                .then((data) => {
                    if (data['status'] === 'Success') {
                        console.log('Success:', data);
                    } else {
                        throw (data['msg'])
                    }
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
        }
    }
    let canSwitch = new CanBusSwitch();

    // CAN send from input field through websocket.
    document.querySelector('#can_bus').onsubmit = (event) => {
        event.preventDefault();
        const canIdField = document.querySelector("#can_bus_arbitration_id");
        const canDataField = document.querySelector("#can_bus_text");
        log(`ID: ${canIdField.value}, DATA: ` + canDataField.value, 'primary', 'start');
        canWebSocket.emit('can_send', { id: canIdField.value, data: canDataField.value });
        canDataField.value = '';
    }

    // CAN send from input button clicks through websocket.
    const btns = document.querySelectorAll(".can_bus_send")
    for (let btn of btns) {
        btn.addEventListener('click', (event) => {
            log('ID: 123, DATA: ' + btn.textContent, 'primary', 'start');
            canWebSocket.emit('can_send', { id: "123", data: btn.textContent });
        });
    }

    // A helper method to log messages to web page on the screen.
    const log = (text, style, position) => {
        let logElem = document.getElementById('log');
        // Append new messages from CAN.
        logElem.innerHTML += `
      <div class="row justify-content-${position} px-2 flex-nowrap">
        <div class="alert alert-${style} ms-2 py-2 my-1 col-auto fs-4 w-75 fw-bold">${text}</div><br>
      </div>
    `;
        // Scroll to the messages bottom.
        logElem.scrollTop = logElem.scrollHeight;
    };

    // A helper method clear messages on the screen.
    document.querySelector("#clear").addEventListener('click', (event) => {
        let logElem = document.getElementById('log');
        logElem.innerHTML = "";
    })
</script>