<!doctype html>
<html>

<head>
    <title>Cases | Chipsee Industrial PC Demo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</head>

<body class="dark-bg sticky-body">
    <div class="d-flex justify-content-evenly w-100">
        <a href="{{ url_for('home') }}" class="d-flex align-items-center px-2"><i class="arrow-left"></i></a>
        <div class="row d-flex align-items-center justify-content-center" style="min-height: 100vh">
            <a class="col-4 home-card-link" href="{{ url_for('ip_config') }}">
                <div class="home-card home-card-bg ip-config-card">
                    <span class="home-card-text">Static IP</span>
                </div>
            </a>
            <a class="col-4 home-card-link" href="{{ url_for('file_upload') }}">
                <div class="home-card home-card-bg file-upload-card">
                    <span class="home-card-text">File Upload</span>
                </div>
            </a>
            <a class="col-4 home-card-link" href="#">
                <div class="home-card home-card-bg modbus-card">
                    <span class="home-card-text">Modbus</span>
                </div>
            </a>
            <a class="col-4 home-card-link" href="#">
                <div class="home-card home-card-bg more-card">
                    <span class="home-card-text">Coming soon</span>
                </div>
            </a>
            <div class="col-4">
            </div>
            <div class="col-4">
            </div>
        </div>
        <a href="{{ url_for('diagrams') }}" class="d-flex align-items-center px-2"><i class="arrow-right"></i></a>
    </div>
</body>

</html>

