<!doctype html>
<html>
<head>
    <title>GPIO | Chipsee Industrial PC Demo</title>
</head>
<body>
    <p><a href="{{ url_for('home') }}">Home</a></p>
    <div id="gpio-outs">
        {% for gpio_out in gpio_outs %}
        <!-- The  { %  % } marks are Jinja2 markup to run Python code in HTML-like Jinja2 template, when generating HTML in the backend -->
            <div>
                <input type="checkbox" id="{{ gpio_out }}" name="{{ gpio_out }}" class="gpio-out">
                <label for="{{ gpio_out }}">{{ gpio_out }}</label>
            </div>
        {% endfor %}

        {% if not gpio_outs %}
            <p>There is no gpio output devices for this device, or they haven't been configured in the configuration file.</p>
        {% endif %}
    </div>
    <div id="gpio-ins">
        {% for gpio_in in gpio_ins %}
            <div> 
                {{ gpio_in }}: <span id="{{ gpio_in }}" class="gpio-in">{{ gpio_ins[gpio_in] }}</span>
            </div>
        {% endfor %}

        {% if not gpio_ins %}
            <p>There is no gpio input devices for this device, or they haven't been configured in the configuration file.</p>
        {% endif %}
    </div>
</body>

</html>
<script>
class SetGPIOOutput {
    constructor() {
        // When check/uncheck a GPIO output checkbox, invoke JS to start a POST
        // request to let Python backend adjust the GPIO hardware voltage level.
        this.endPoint = "/api/gpio/";
        let gpioOuts = document.querySelectorAll(".gpio-out");
        for (let gpioOut of gpioOuts) {
            gpioOut.addEventListener('change', (e) => {
                let checked = e.target.checked;
                let outputX = e.target.id;
                if (checked) {
                    this.setOutput(outputX, 1);
                } else {
                    this.setOutput(outputX, 0);
                }
            });
        }
    }

    // A helper function to perform XHR request to the backend server.
    setOutput(outputX, value) {
        fetch(this.endPoint + outputX, {
          method: 'POST', // or 'PUT'
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({'v_out': value}),
        })
          .then((response) => response.json())
          .then((data) => {
            if (data['status']==='Success') {
                console.log('Success:', data);
            } else {
                throw(data['msg'])
            }
          })
          .catch((error) => {
            console.error('Error:', error);
          });
    }
}

class PollGPIOInput {
    constructor() {
        // Periodically polling the Python backend to obtain current GPIO hardware input voltage status.
        this.endPoint = "/api/gpio/";
        let gpioIns = document.querySelectorAll(".gpio-in");
        for(let gpioIn of gpioIns) {
            this.poll(gpioIn, 1000);
        }
    }

    poll(gpioIn, interval) {
        // interval: millisecond. The time inteval between each two consecutive polls.
        setInterval(() => this.check_once(gpioIn), interval);
    }

    check_once(gpioIn) {
        let api_url = this.endPoint + gpioIn.id;
        fetch(api_url)
        .then((response) => response.json())
        .then((status_data) => {
            this.update_with(status_data, gpioIn)
        })
        .catch((error) => {
            console.error('Error:', error);
        });
    }

    update_with(status_data, gpioIn) {
        gpioIn.textContent = status_data[gpioIn.id];
    }
}

let pollInputs = new PollGPIOInput();
let setOutputs = new SetGPIOOutput();
</script>
