<!doctype html>
<html>

<head>
    <title>CM4 Demo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</head>

<body class="dark-bg sticky-body">
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center" style="min-height: 100vh">
            <a class="col-4 home-card-link" href="{{ url_for('brightness') }}">
                <div class="home-card home-card-bg brightness-card">
                    <span class="home-card-text">Brightness</span>
                </div>
            </a>
            <a class="col-4 home-card-link" href="{{ url_for('gpio') }}">
                <div class="home-card home-card-bg gpio-card">
                    <span class="home-card-text">GPIO</span>
                </div>
            </a>
            <a class="col-4 home-card-link" href="{{ url_for('rs232') }}">
                <div class="home-card home-card-bg serial-card">
                    <span class="home-card-text">Serial Port</span>
                </div>
            </a>
            <a class="col-4 home-card-link" href="{{ url_for('buzzer') }}">
                <div class="home-card home-card-bg buzzer-card">
                    <span class="home-card-text">Buzzer</span>
                </div>
            </a>
            <a class="col-4 home-card-link" href="#">
                <div class="home-card home-card-bg music-card">
                    <span class="home-card-text">Music</span>
                </div>
            </a>
            <a class="col-4 home-card-link" href="#">
                <div class="home-card home-card-bg network-card">
                    <span class="home-card-text">Network</span>
                </div>
            </a>
        </div>
    </div>
</body>

</html>
