<!doctype html>
<html>

<head>
    <title>Home | Chipsee Industrial PC Demo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</head>

<body class="dark-bg sticky-body">
    <div class="d-flex justify-content-evenly w-100">
        <a href="#" class="d-flex align-items-center px-2"><i class="arrow-left opacity-0"></i></a>
        <div class="row d-flex align-items-center justify-content-center" style="min-height: 100vh">
            <a class="col-4 home-card-link" href="{{ url_for('brightness') }}">
                <div class="home-card home-card-bg brightness-card">
                    <span class="home-card-text">Brightness</span>
                </div>
            </a>
            <a class="col-4 home-card-link" href="{{ url_for('buzzer') }}">
                <div class="home-card home-card-bg buzzer-card">
                    <span class="home-card-text">Buzzer</span>
                </div>
            </a>
            <a class="col-4 home-card-link" href="{{ url_for('gpio') }}">
                <div class="home-card home-card-bg gpio-card">
                    <span class="home-card-text">GPIO</span>
                </div>
            </a>
            <a class="col-4 home-card-link" href="{{ url_for('rs232') }}">
                <div class="home-card home-card-bg serial-card">
                    <span class="home-card-text">Serial Port(232)</span>
                </div>
            </a>
            <a class="col-4 home-card-link" href="{{ url_for('rs485') }}">
                <div class="home-card home-card-bg serial-485-card">
                    <span class="home-card-text">Serial Port(485)</span>
                </div>
            </a>
            <a class="col-4 home-card-link" href="{{ url_for('can_bus') }}">
                <div class="home-card home-card-bg can-bus-card">
                    <span class="home-card-text">CAN Bus</span>
                </div>
            </a>
        </div>
        <a href="{{ url_for('cases') }}" class="d-flex align-items-center px-2"><i class="arrow-right"></i></a>   
    </div>
</body>

</html>
