<!doctype html>
<html>

<head>
    <title>Line Chart | Chipsee Industrial PC Demo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/chart.js') }}"></script>
</head>

<body class="silver-bg sticky-body">
    {% include "common/navbar.html" %}
    <div class="px-4">
        <div class="row w-100" style="height: 100vh;">
            <div class="d-flex flex-column align-items-center justify-content-evenly col col-10" style="height: 85vh;">
                <div class="fs-2 fw-bold mt-3 d-flex align-items-center justify-content-evenly w-100">
                    <div class="text-secondary">Realtime Line Chart</div>
                    <div>
                        <button class="btn btn-lg btn-secondary fw-bold" id="start">Start</button>
                        <button class="btn btn-lg btn-secondary fw-bold" id="stop">Stop</button>
                    </div>
                </div>
                <div class="ms-2 d-flex flex-column justify-content-end" style="height:95vh; width:80vw">
                    <canvas id="myChart" class="rounded-2" style="background: #ffffff50;"></canvas>
                </div>
            </div>
            <div class="col col-1 position-relative">
                <input type="range" class="brightness-slider brightness-slider-position"
                    id="brightness-slider" name="brightness" min="0" max="100" step="1" value="{{ actual_brightness }}">
                <span id="brightness-value" hidden>{{ actual_brightness }}</span>
            </div>
        </div>
    </div>
</body>

</html>
<script>
    class BrightnessSlider {
        constructor() {
            this.brightnessSlider = document.querySelector('#brightness-slider');
            let currBrightnessEle = document.querySelector('#brightness-value');
            document.addEventListener("DOMContentLoaded", () => {
                this.brightnessSlider.value = `${currBrightnessEle.textContent.trim()}`;
            });
            this.brightnessValue = 0;
            this.startListening();
        }

        startListening() {
            // Listening to slider event, then POST to server to change screen brightness of the hardware.
            this.brightnessSlider.addEventListener('input', (event) => {
                const xhr = new XMLHttpRequest();
                xhr.open("POST", '/api/line_chart', true);
                xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                xhr.send(`brightness=${this.brightnessSlider.value}`);
            });
        }

        fetchBrightness() {
            // Send GET request to server to get the actual brightness.
            fetch(`/api/line_chart`)
                .then((response) => response.json())
                .then((brightness_data) => {
                    this.brightnessValue = brightness_data['brightness'].trim();
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
        }
    }

    class LineChart {
        constructor(brightnessSlider) {
            this.dataPoints = 32; // Number of points to constructs this line chart.
            const data = {
                labels: Array(this.dataPoints).fill(""),
                datasets: [{
                    label: 'Brightness',
                    data: Array(this.dataPoints).fill(0),
                    borderColor: 'dark',
                    pointRadius: 2, // Hide points.
                }]
            };
            const options = {
                'stepped': false,
                scales: {
                    y: {
                        title: {
                            display: true,
                            align: 'end',
                            text: "Brightness",
                            padding: 0,
                            font: { size: 28, family: 'Helvetica' },
                            color: 'dark'
                        },
                        ticks: { color: 'dark' },
                        suggestedMin: 0,
                        suggestedMax: 100
                    },
                    x: {
                        title: {
                            display: true,
                            text: 'Time',
                            align: 'end',
                            padding: 0,
                            color: 'dark',
                            font: { size: 28, family: 'Helvetica' }
                        }
                    }
                },
                layout: {
                    padding: { left: 10, right: 25, top: 30, bottom: 10 }
                },
                plugins: {
                    legend: {
                        display: false,
                    }
                }
            };
            const config = {
                type: 'line',
                data: data,
                options: options
            };
            this.lineChart = new Chart(document.getElementById('myChart'), config);
            this.lineChart.options.animation = false;
            this.startMonitoring();
        }

        startMonitoring() {
            clearInterval(this.job); // Avoid issues when pausing the chart with button.
            this.job = setInterval(() => this.updateData(), 200);
        }

        stopMonitoring() {
            clearInterval(this.job);
        }

        updateData() {
            this.lineChart.data.labels.push("");
            this.lineChart.data.datasets.forEach((dataset) => {
                if (this.lineChart.data.datasets[0].data.length > this.dataPoints) {
                    // Data is FIFO.
                    dataset.data.splice(0, 1);
                    // Label Should be FIFO, but is LIFO in this code for performance. (Because we're not displaying labels in this example.).
                    this.lineChart.data.labels.pop();
                }
                // You can fetch the realtime value from hardware then display it, to do so, uncomment the following two lines:
                // brightnessSlider.fetchBrightness(); // Use hareware value
                // let newValue = brightnessSlider.brightnessValue; // Use hareware value
                // Alternatively, you can also use the value stored in the slider UI:

                let newValue = brightnessSlider.brightnessSlider.value; // Use the HTML slider's value
                dataset.data.push(newValue);
                brightnessSlider.brightnessSlider.value = newValue;
            });
            this.lineChart.update('none');
        }
    }

    brightnessSlider = new BrightnessSlider();
    lineChart = new LineChart(brightnessSlider);

    const startBtn = document.querySelector("#start");
    const stopBtn = document.querySelector("#stop");
    startBtn.addEventListener('click', () => {
        lineChart.startMonitoring();
    })
    stopBtn.addEventListener('click', () => {
        lineChart.stopMonitoring();
    })
</script>