<!doctype html>
<html>

<head>
    <title>Serial Port | Chipsee Industrial PC Demo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='js/socket.io.js') }}"></script>
</head>

<body class="dark-bg sticky-body">
    <div class="container">
        <p><a href="{{ url_for('home') }}">Home</a></p>
        <form id="rs232_tx">
          <div class="mb-3">
            <input type="text" class="form-control" id="rs232_tx_text" autofocus placeholder="Serial Port TX:" autocomplete="off">
          </div>
        </form>
        <div class="d-flex justify-content-between">
          <div class="btn-group">
            <button class="rs232-tx btn btn-primary">Click to test Serial TX</button>
            <button class="rs232-tx btn btn-warning">Click to send a long text that contains many words through RS232/RS485 serial port.</button>
          </div>
          <button class="btn btn-danger" id="clear">Clear All</button>
        </div>
        <div id="log" class="log">
        </div>
    </div>
</body>

</html>
<script>
  // Initialize websocket.
  let rs232WebSocket = io({transports: ['websocket']});

  // RS232 Receive through websocket.
  rs232WebSocket.on('rs232_rx', (msg) => {
    log('RX <<< ' + msg.data, 'success', 'end');
  });

  // Send from input field through websocket
  document.querySelector('#rs232_tx').onsubmit = (event) => {
    event.preventDefault();
    const textField = document.querySelector("#rs232_tx_text");
    log('TX >>> ' + textField.value, 'primary', 'start');
    rs232WebSocket.emit('rs232_tx', {data: textField.value});
    textField.value = '';
  }

  // Send from input button clicks through websocket
  const btns = document.querySelectorAll(".rs232-tx")
  for(let btn of btns) {
    btn.addEventListener('click', (event) => {
      log('TX >>> ' + btn.textContent, 'primary', 'start');
      rs232WebSocket.emit('rs232_tx', {data: btn.textContent});
    });
  }

  const log = (text, style, position) => {
    let logElem = document.getElementById('log');
    // Append new messages from Serial port TX/RX.
    logElem.innerHTML += `
      <div class="row justify-content-${position} px-2 flex-nowrap">
        <div class="alert alert-${style} ms-2 py-2 my-1 col-auto fs-4 w-75">${text}</div><br>
      </div>
    `;

    // Scroll to the messages bottom.
    logElem.scrollTop = logElem.scrollHeight;
  };

  // Clear messages.
  document.querySelector("#clear").addEventListener('click', (event) => {
    let logElem = document.getElementById('log');
    logElem.innerHTML = "";
  })
</script>
